@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 100;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Thin/JetBrainsMonoNerdFontMono-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 200;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/ExtraLight/JetBrainsMonoNerdFontMono-ExtraLight.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 300;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Light/complete/JetBrains%20Mono%20Light%20Nerd%20Font%20Complete%20Mono.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 400;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 500;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Medium/JetBrainsMonoNerdFontMono-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 600;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/SemiBold/JetBrainsMonoNerdFontMono-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: 700;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Bold/JetBrainsMonoNerdFontMono-Bold.ttf") format('truetype');
